@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

 
 
 * {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: #faf2dd;
    user-select: none;
    overflow-x: hidden;
    color: black;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    background: #faf2dd;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;

}

a {
    color: black;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: #8dc84b;
}

p {
    color: #004d00;
}

b {
    color: #004d00;
}

.primary {
    color: #004d00;
}

.danger {
    color: #004d00;
}

.success {
    color: #004d00;
}

.warning {
    color: #004d00;
}

aside {
    height: 100vh;
    background: #faf2dd;
}

aside .top {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

/* sidebar */

aside .sidebar {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: gray;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: #ddfacc;
    color: #8dc84b;
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: #8dc84b;
}

aside .sidebar a.active span{
    color: #8dc84b;
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: #8dc84b;
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: #004d00;
    color: #fff;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 7px;
}

/*---------------MAIN --------------------*/
main {
margin-top: 1.4rem;
}
main .date {
    display: inline-block;
    background: #ffffff;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .date  input[type="date"] {
    background: transparent;
    color: black;
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6em;
}

main .insights > div {
    background: white;
    padding: 2px 10px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .insights > div:hover {
    box-shadow: none;
}

main .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.expense span {
    background: var(--color-danger);
}

main .insights > div.income span {
    background: var(--color-success);
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights > div .middle h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    font-size: 0.9rem;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights .progress svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke-width: var(--color-primary);
    stroke-linecap: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}
main .insights .expenses svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
main .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}
main .insights .expenses svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .expenses svg circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
}
/*---------------- RECENT ODERS -------------------------*/
main .recent-orders {
    margin-top: 2rem;
}
main .recent-orders table {
    margin-bottom: 0.8rem;
}

main .recent-orders table th {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-orders table th:hover {
    box-shadow: none;
}

main .recent-orders a {
    text-align:center;
    display: block;
    margin: 1rem auto;
color: var(--color-primary);
}

/*----------------- RIGHT -------------------------*/
.right {
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right .top button {
    background: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1,6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--card-border-radius);
}

.right .top button span {
    font-size: 1.2rem;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .theme-toggler span active {
    background: var(--color-primary); ;
    color: white;
    border-radius: var(--card-border-radius-1);
}

.right ,top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/*----------------- Recent Updates -------------------------*/
.right .recent-updates {
    margin-top: 0,8rem;    
}

.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}
