.slider .item {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .text-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 10;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.656);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.slider .text-content h4 {
  background-color: #8dc84b;
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 30px;
  font-size: 14px;
  margin-bottom: 15px;
}
.slider .text-content h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 20px;
  color: #8dc84b;
  line-height: 1.3;
}
.slider .text-content h2 strong {
  font-weight: 700;
  color: #8dc84b;
  font-size: 36px;
}
@keyframes botonHover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
    background-color: #004d00;
  }
}

 .primary-button {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  background-color: #8dc84b;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.primary-button:hover {
  animation: botonHover 0.5s forwards;
}

.slider-section {
  background: linear-gradient(to bottom, #ffffff 0%, #fef5dc 20%, #fef5dc 90%, #ffffff 100%);
}
