:root {
  --bs-body-font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}
.title {
  font-style: oblique;
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
span {
  font-weight: 500;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
input {
  margin: 0;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #8dc84b;
  padding: 6px 15px;
  letter-spacing: 1px;
}
.title {
  color: #333;
  font-weight: 500;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:  #f7efd8;
}
select {
  width: 100%;
  padding-left: 5px;
  border: 1px solid #8dc84b;
  color: #757575;
  padding: 6px 15px;
}
.codigo {
  padding-top: 4px;
}
.codigoPdin {
  padding-top: 8px;
}
.codigoI {
  width: 90px;
  letter-spacing: 3px;
}
.border {
  color: #8dc84b;

}
#localidades {
  display: none;
}
#localSpan {
  display: none;
}
option {
  color: #8dc84b;
}
form {
  width: 700px;
  padding: 15px 20px;
  background-color: #ffffff;
}
.row-contenido {
  display: flex;
  justify-content: space-around;
}
.input-box {
  margin: 7px 0;
}
.column1 {
  width: 40%;
}

.btn-2 {
  width: 500px;
}
.btn-2 {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  display: inline-block;
  margin-top: 10px;
  padding: 7px 15px;
  color: #ffff;
  background-color: #8dc84b;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.8s ease, color 0.8s ease;
}
.btn-2:hover {
  background-color: #004d00;
}


.input-box input:focus,
.input-box select:focus {
  outline: none;
  border-color: #004d00;
  box-shadow: 0 0 5px rgba(0, 77, 0, 0.5);
  transition: all 0.4s ease; /* opcional, para suavizar el efecto */
}

input::placeholder {
  color: #888;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}