<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 500 - Servidor</title>
    <link rel="stylesheet" href="error500.css" />
    <link rel="icon" type="image/png" href="../login/login/logo.png">

  </head>
  <body>
    <div class="container">
      <h1>500</h1>
      <h2>Oops... rompimos algo sin querer.</h2>
      <p>
        ¡Algo se nos fue de las manos! Lo estamos arreglando. Por favor, vuelve en un momento.
      </p>
      <a href="../index.html" class="btn">VOLVER AL INICIO</a>
    </div>
  </body>
</html>