<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
<body>
    <section class="container">
        <form action="" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Seleccione el filtro de búsqueda</label>
                <select name="dato" class="form-control">
                    <option value="id">ID</option>
                    <option value="numero_documento">Documento</option>
                    <option value="nombre">Nombre</option>
                    <option value="perfil_usuario">Perfil de usuario</option>
                </select>            
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Digite el valor a consultar</label>
                <input name="valor" required type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <button type="submit" class="btn btn-primary">Consultar</button>
            <hr>
            <a href="../../controllers/Reportes/reportexls_productos.php">Exportar a Excel</a>
            <hr>
            <a href="../../controllers/Reportes/reportepdf_productos.php">Exportar a Pdf</a>
        </form>
    </section>
</body>
</html>