<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invitación || Huerta Directa</title>
  <link rel="stylesheet" href="landing.css">
  <link rel="icon" type="image/png" href="../login/login/logo_huerta.png">
  <link rel="stylesheet" href="../style.css">
</head>
<body> 
    <div class="menu container">
        <a href="#" class="logo">Huerta directa</a>
        <input type="checkbox" id="menu" />
        
        <nav class="navbar">
          <ul>
            <li><a href="#">inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contactos</a></li>
            <li><a href="#">Nosotros</a></li>
          </ul>
        </nav>
        
      </div>
  <section class="invitacion">
    <div class="contenedor-invitacion">
      <img src="../login/login/logo.png" alt="Logo Huerta Directa" class="logo-huerta">
      <h2>¡Únete a Huerta Directa!</h2>
      <p>Forma parte de nuestra comunidad que apoya al campo y disfruta de productos frescos, saludables y sin intermediarios.</p>
      <a href="../login/login/Log in.html" class="boton-invitacion">Registrarse</a>
    </div>
  </section>

</body>
</html>